.e11_47 { 
	overflow:hidden;
}
.e11_47 { 
	background-color:rgba(227.00000166893005, 229.00000154972076, 232.00000137090683, 1);
	width:1920px;
	height:900px;
	position:absolute;
}
.e11_48 { 
	background-color:rgba(55.00000052154064, 57.00000040233135, 63.000000044703484, 1);
	width:1576px;
	height:900px;
	position:absolute;
	left:344px;
	top:0px;
}
.e11_49 { 
	width:1544px;
	height:44px;
	position:absolute;
	left:16px;
	top:836px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e11_50 { 
	background-color:rgba(64.00000378489494, 68.00000354647636, 75.00000312924385, 1);
	width:1499px;
	height:44px;
	position:absolute;
	left:45px;
	top:0px;
}
.e11_51 { 
	width:22px;
	height:22px;
	position:absolute;
	left:1462px;
	top:11px;
}
.e11_52 { 
	background-color:rgba(207.00000286102295, 207.00000286102295, 207.00000286102295, 1);
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_53 { 
	background-color:rgba(79.00000289082527, 86.00000247359276, 96.00000187754631, 1);
	width:9.166873931884766px;
	height:3.055556297302246px;
	position:absolute;
	left:6.41650390625px;
	top:14.0555419921875px;
}
.e11_54 { 
	background-color:rgba(79.00000289082527, 86.00000247359276, 96.00000187754631, 1);
	width:3.055555820465088px;
	height:4.277778148651123px;
	position:absolute;
	left:5.8055419921875px;
	top:6.111083984375px;
}
.e11_55 { 
	background-color:rgba(79.00000289082527, 86.00000247359276, 96.00000187754631, 1);
	width:3.055556297302246px;
	height:4.277778148651123px;
	position:absolute;
	left:13.138916015625px;
	top:6.111083984375px;
}
.e11_56 { 
	width:24px;
	height:24px;
	position:absolute;
	left:1423px;
	top:10px;
}
.e11_57 { 
	background-color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:24px;
	height:20px;
	position:absolute;
	left:0px;
	top:2px;
}
.e11_58 { 
	width:24px;
	height:24px;
	position:absolute;
	left:1384px;
	top:10px;
}
.e11_59 { 
	background-color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:20px;
	height:19.970500946044922px;
	position:absolute;
	left:2px;
	top:2.0285000801086426px;
}
.e11_60 { 
	color:rgba(220.00000208616257, 221.00000202655792, 222.00000196695328, 1);
	width:1344px;
	height:19px;
	position:absolute;
	left:14px;
	top:12px;
	font-family:Helvetica Neue;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e11_61 { 
	background-color:rgba(64.00000378489494, 68.00000354647636, 75.00000312924385, 1);
	width:44px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_62 { 
	width:24px;
	height:24px;
	position:absolute;
	left:10px;
	top:10px;
}
.e11_63 { 
	background-color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.e11_169 { 
	width:1540.137939453125px;
	height:117.84696197509766px;
	position:absolute;
	left:16px;
	top:703px;
	background-image:url(images/empty_message.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e11_65 { 
	transform: rotate(-0.000005008956538086317deg);
	width:1576px;
	height:0px;
	position:absolute;
	left:0px;
	top:49.000160217285156px;
}
.e11_65 { 
	border:1px solid rgba(48.000000938773155, 50.000000819563866, 57.00000040233135, 1);
}
.e11_66 { 
	width:1560px;
	height:48px;
	position:absolute;
	left:8px;
	top:0px;
}
.e11_67 { 
	width:360px;
	height:24px;
	position:absolute;
	left:1200px;
	top:12px;
}
.e11_68 { 
	width:24px;
	height:24px;
	position:absolute;
	left:324px;
	top:0px;
}
.e11_69 { 
	background-color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.e11_70 { 
	width:24px;
	height:24px;
	position:absolute;
	left:286px;
	top:0px;
}
.e11_71 { 
	background-color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.e11_72 { 
	background-color:rgba(32.00000189244747, 34.00000177323818, 37.00000159442425, 1);
	width:144px;
	height:24px;
	position:absolute;
	left:128px;
	top:0px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.e11_73 { 
	width:18px;
	height:18px;
	position:absolute;
	left:120px;
	top:3px;
}
.e11_74 { 
	background-color:rgba(111.00000098347664, 115.00000074505806, 122.00000032782555, 1);
	width:14px;
	height:14px;
	position:absolute;
	left:2px;
	top:2px;
}
.e11_75 { 
	color:rgba(111.00000098347664, 115.00000074505806, 122.00000032782555, 1);
	width:39px;
	height:15px;
	position:absolute;
	left:6px;
	top:4px;
	font-family:Helvetica Neue;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e11_76 { 
	width:24px;
	height:24px;
	position:absolute;
	left:90px;
	top:0px;
}
.e11_77 { 
	background-color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:16px;
	height:16.00002098083496px;
	position:absolute;
	left:2px;
	top:4.005980014801025px;
}
.e11_78 { 
	background-color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:16px;
	height:16.00002098083496px;
	position:absolute;
	left:2px;
	top:4.005980014801025px;
}
.e11_79 { 
	background-color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:4.478799819946289px;
	height:6.470800399780273px;
	position:absolute;
	left:17.521299362182617px;
	top:13.535200119018555px;
}
.e11_80 { 
	background-color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:3.5029993057250977px;
	height:7.870999813079834px;
	position:absolute;
	left:14.497099876403809px;
	top:4.0366997718811035px;
}
.e11_81 { 
	width:24px;
	height:24px;
	position:absolute;
	left:52px;
	top:0px;
}
.e11_82 { 
	background-color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:19.092041015625px;
	height:19.09099006652832px;
	position:absolute;
	left:2.9079599380493164px;
	top:2.1010100841522217px;
}
.e11_83 { 
	width:24px;
	height:24px;
	position:absolute;
	left:14px;
	top:0px;
}
.e11_84 { 
	background-color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:3px;
	top:3px;
}
.e11_85 { 
	width:1190px;
	height:24px;
	position:absolute;
	left:0px;
	top:12px;
}
.e11_86 { 
	width:24px;
	height:24px;
	position:absolute;
	left:14px;
	top:0px;
}
.e11_87 { 
	background-color:rgba(114.0000008046627, 118.00000056624413, 125.00000014901161, 1);
	width:19.5700626373291px;
	height:18px;
	position:absolute;
	left:2.094971179962158px;
	top:3px;
}
.e11_88 { 
	width:58px;
	height:20px;
	position:absolute;
	left:44px;
	top:2px;
}
.e11_89 { 
	color:rgba(255, 255, 255, 1);
	width:58px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Helvetica Neue;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e11_90 { 
	background-color:rgba(46.000001057982445, 48.000000938773155, 54.00000058114529, 1);
	width:272px;
	height:900px;
	position:absolute;
	left:72px;
	top:0px;
}
.e11_91 { 
	background-color:rgba(46.000001057982445, 48.000000938773155, 54.00000058114529, 1);
	width:272px;
	height:851px;
	position:absolute;
	left:0px;
	top:49px;
}
.e11_92 { 
	background-color:rgba(41.00000135600567, 43.00000123679638, 47.0000009983778, 1);
	width:272px;
	height:52px;
	position:absolute;
	left:0px;
	top:799px;
}
.e11_93 { 
	width:20px;
	height:20px;
	position:absolute;
	left:238px;
	top:16px;
}
.e11_94 { 
	background-color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:16.66666603088379px;
	height:16.66666603088379px;
	position:absolute;
	left:1.666666865348816px;
	top:1.666666865348816px;
}
.e11_95 { 
	width:20px;
	height:20px;
	position:absolute;
	left:208px;
	top:16px;
}
.e11_96 { 
	background-color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:16.66666603088379px;
	height:16.66670799255371px;
	position:absolute;
	left:1.666656494140625px;
	top:1.669189453125px;
}
.e11_97 { 
	width:20px;
	height:20px;
	position:absolute;
	left:178px;
	top:16px;
}
.e11_98 { 
	background-color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:11.666666030883789px;
	height:15.833333015441895px;
	position:absolute;
	left:4.1666669845581055px;
	top:1.666666865348816px;
}
.e11_99 { 
	background-color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:11.666666030883789px;
	height:16.66666603088379px;
	position:absolute;
	left:4.1666669845581055px;
	top:1.666666865348816px;
}
.e11_100 { 
	width:32px;
	height:32px;
	position:absolute;
	left:20px;
	top:10px;
}
.e11_101 { 
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_102 { 
	overflow:hidden;
}
.e11_102 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_103 { 
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/avatar.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e11_104 { 
	border-radius:500px;
	background-color:rgba(67.00000360608101, 181.0000044107437, 129.00000751018524, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:22px;
	top:22px;
}
.tag_username { 
	color:rgba(255, 255, 255, 1);
	width:89px;
	height:17px;
	position:absolute;
	left:65px;
	top:10px;
	font-family:Helvetica Neue;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.tag_numbers { 
	color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:34px;
	height:15px;
	position:absolute;
	left:65px;
	top:27px;
	font-family:Helvetica Neue;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e11_107 { 
	width:252px;
	height:34px;
	position:absolute;
	left:10px;
	top:160px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e11_108 { 
	width:16px;
	height:16px;
	position:absolute;
	left:230px;
	top:9px;
}
.e11_109 { 
	background-color:rgba(142.00000673532486, 146.00000649690628, 151.00000619888306, 1);
	width:12px;
	height:12px;
	position:absolute;
	left:2px;
	top:2px;
}
.e11_110 { 
	width:16px;
	height:16px;
	position:absolute;
	left:210px;
	top:9px;
}
.e11_111 { 
	background-color:rgba(142.00000673532486, 146.00000649690628, 151.00000619888306, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:11px;
	top:0px;
}
.e11_112 { 
	background-color:rgba(142.00000673532486, 146.00000649690628, 151.00000619888306, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:4px;
	top:3.0066699981689453px;
}
.e11_113 { 
	background-color:rgba(142.00000673532486, 146.00000649690628, 151.00000619888306, 1);
	width:11px;
	height:4.666699409484863px;
	position:absolute;
	left:1px;
	top:8.34000015258789px;
}
.e11_114 { 
	color:rgba(142.00000673532486, 146.00000649690628, 151.00000619888306, 1);
	width:58px;
	height:20px;
	position:absolute;
	left:34px;
	top:7px;
	font-family:Helvetica Neue;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e11_115 { 
	width:24px;
	height:24px;
	position:absolute;
	left:6px;
	top:5px;
}
.e11_116 { 
	background-color:rgba(142.00000673532486, 146.00000649690628, 151.00000619888306, 1);
	width:19px;
	height:17.999893188476562px;
	position:absolute;
	left:2px;
	top:3.0032951831817627px;
}
.e11_117 { 
	width:272px;
	height:40px;
	position:absolute;
	left:0px;
	top:120px;
}
.e11_118 { 
	width:18px;
	height:18px;
	position:absolute;
	left:239px;
	top:11px;
}
.e11_119 { 
	background-color:rgba(142.00000673532486, 146.00000649690628, 151.00000619888306, 1);
	width:12px;
	height:12px;
	position:absolute;
	left:3px;
	top:3px;
}
.e11_120 { 
	color:rgba(142.00000673532486, 146.00000649690628, 151.00000619888306, 1);
	width:190px;
	height:16px;
	position:absolute;
	left:26px;
	top:12px;
	font-family:Helvetica Neue;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e11_121 { 
	width:12px;
	height:12px;
	position:absolute;
	left:8px;
	top:14px;
}
.e11_122 { 
	background-color:rgba(142.00000673532486, 146.00000649690628, 151.00000619888306, 1);
	width:6px;
	height:3.700000047683716px;
	position:absolute;
	left:3px;
	top:4px;
}
.e11_123 { 
	background-color:rgba(79.00000289082527, 84.00000259280205, 92.00000211596489, 1);
	width:252px;
	height:34px;
	position:absolute;
	left:10px;
	top:56px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e11_124 { 
	width:16px;
	height:16px;
	position:absolute;
	left:230px;
	top:9px;
}
.e11_125 { 
	background-color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:12px;
	height:12px;
	position:absolute;
	left:2px;
	top:2px;
}
.e11_126 { 
	width:16px;
	height:16px;
	position:absolute;
	left:210px;
	top:9px;
}
.e11_127 { 
	background-color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:11px;
	top:0px;
}
.e11_128 { 
	background-color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:5px;
	height:5px;
	position:absolute;
	left:4px;
	top:3.0066699981689453px;
}
.e11_129 { 
	background-color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:11px;
	height:4.666699409484863px;
	position:absolute;
	left:1px;
	top:8.34000015258789px;
}
.e11_130 { 
	color:rgba(255, 255, 255, 1);
	width:55px;
	height:20px;
	position:absolute;
	left:34px;
	top:7px;
	font-family:Helvetica Neue;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e11_131 { 
	width:24px;
	height:24px;
	position:absolute;
	left:6px;
	top:5px;
}
.e11_132 { 
	background-color:rgba(185.00000417232513, 187.00000405311584, 190.0000038743019, 1);
	width:19.5700626373291px;
	height:18px;
	position:absolute;
	left:2.094971179962158px;
	top:3px;
}
.e11_133 { 
	width:272px;
	height:40px;
	position:absolute;
	left:0px;
	top:16px;
}
.e11_134 { 
	width:18px;
	height:18px;
	position:absolute;
	left:239px;
	top:11px;
}
.e11_135 { 
	background-color:rgba(142.00000673532486, 146.00000649690628, 151.00000619888306, 1);
	width:12px;
	height:12px;
	position:absolute;
	left:3px;
	top:3px;
}
.e11_136 { 
	color:rgba(142.00000673532486, 146.00000649690628, 151.00000619888306, 1);
	width:190px;
	height:16px;
	position:absolute;
	left:26px;
	top:12px;
	font-family:Helvetica Neue;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e11_137 { 
	width:12px;
	height:12px;
	position:absolute;
	left:8px;
	top:14px;
}
.e11_138 { 
	background-color:rgba(142.00000673532486, 146.00000649690628, 151.00000619888306, 1);
	width:6px;
	height:3.700000047683716px;
	position:absolute;
	left:3px;
	top:4px;
}
.e11_139 { 
	transform: rotate(-0.000005008956538086317deg);
	width:272px;
	height:0px;
	position:absolute;
	left:0px;
	top:49.000160217285156px;
}
.e11_139 { 
	border:1px solid rgba(34.00000177323818, 35.00000171363354, 39.00000147521496, 1);
}
.e11_140 { 
	width:240px;
	height:48px;
	position:absolute;
	left:16px;
	top:0px;
}
.e11_141 { 
	width:18px;
	height:18px;
	position:absolute;
	left:222px;
	top:15px;
}
.e11_142 { 
	background-color:rgba(255, 255, 255, 1);
	width:11px;
	height:6.5px;
	position:absolute;
	left:3.5px;
	top:4.5px;
}
.e11_143 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e11_143 { 
	width:4.5px;
	height:4.5px;
	position:absolute;
	left:1px;
	top:1px;
}
.e11_144 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e11_144 { 
	width:4.5px;
	height:4.5px;
	position:absolute;
	left:5.5px;
	top:1px;
}
.e11_145 { 
	width:186px;
	height:20px;
	position:absolute;
	left:0px;
	top:14px;
}
.e11_146 { 
	color:rgba(255, 255, 255, 1);
	width:40px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Helvetica Neue;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e11_147 { 
	background-color:rgba(32.00000189244747, 34.00000177323818, 37.00000159442425, 1);
	width:72px;
	height:900px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_148 { 
	width:72px;
	height:48px;
	position:absolute;
	left:0px;
	top:154px;
}
.e11_149 { 
	border-radius:500px;
	background-color:rgba(54.00000058114529, 57.00000040233135, 63.000000044703484, 1);
	width:48px;
	height:48px;
	position:absolute;
	left:12px;
	top:0px;
}
.e11_150 { 
	width:24px;
	height:24px;
	position:absolute;
	left:24px;
	top:12px;
}
.e11_151 { 
	background-color:rgba(67.00000360608101, 181.0000044107437, 129.00000751018524, 1);
	width:18.666667938232422px;
	height:18.666667938232422px;
	position:absolute;
	left:2.6666665077209473px;
	top:2.6666665077209473px;
}
.e11_152 { 
	width:72px;
	height:48px;
	position:absolute;
	left:0px;
	top:98px;
}
.e11_153 { 
	border-radius:500px;
	background-color:rgba(54.00000058114529, 57.00000040233135, 63.000000044703484, 1);
	width:48px;
	height:48px;
	position:absolute;
	left:12px;
	top:0px;
}
.e11_154 { 
	width:24px;
	height:24px;
	position:absolute;
	left:24px;
	top:12px;
}
.e11_155 { 
	background-color:rgba(67.00000360608101, 181.0000044107437, 129.00000751018524, 1);
	width:18px;
	height:18.000019073486328px;
	position:absolute;
	left:3px;
	top:3.0009799003601074px;
}
.e11_156 { 
	width:72px;
	height:2px;
	position:absolute;
	left:0px;
	top:88px;
}
.e11_157 { 
	border:2px solid rgba(6.000000117346644, 6.000000117346644, 7.000000057742, 1);
}
.e11_157 { 
	width:32px;
	height:0px;
	position:absolute;
	left:20px;
	top:2px;
}
.e11_158 { 
	width:72px;
	height:48px;
	position:absolute;
	left:0px;
	top:32px;
}
.e11_159 { 
	border-radius:500px;
	background-color:rgba(54.00000058114529, 57.00000040233135, 63.000000044703484, 1);
	width:48px;
	height:48px;
	position:absolute;
	left:12px;
	top:0px;
}
.e11_160 { 
	width:28px;
	height:20px;
	position:absolute;
	left:22px;
	top:14px;
}
.e11_161 { 
	background-color:rgba(220.00000208616257, 221.00000202655792, 222.00000196695328, 1);
	width:28px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_162 { 
	width:52px;
	height:12px;
	position:absolute;
	left:10px;
	top:10px;
}
.e11_163 { 
	width:12px;
	height:12px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_164 { 
	border-radius:500px;
	background-color:rgba(252.00000017881393, 97.00000181794167, 93.00000205636024, 1);
	width:12px;
	height:12px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_165 { 
	width:12px;
	height:12px;
	position:absolute;
	left:20px;
	top:0px;
}
.e11_166 { 
	border-radius:500px;
	background-color:rgba(253.0000001192093, 188.0000039935112, 64.00000378489494, 1);
	width:12px;
	height:12px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_167 { 
	width:12px;
	height:12px;
	position:absolute;
	left:40px;
	top:0px;
}
.e11_168 { 
	border-radius:500px;
	background-color:rgba(52.000000700354576, 199.0000033378601, 73.00000324845314, 1);
	width:12px;
	height:12px;
	position:absolute;
	left:0px;
	top:0px;
}
